@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap"); 

* {
  font-family: 'Open Sans', sans-serif; 
}

.container {
  /*display:flex;*/
}
.sidebar {
  background-color: #464646;
  width: 332px; 
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;

  /*font stuff*/
}

.sidebar h1 {
  color: white;
}

.app-title {
  padding-left: 24px;
}

.note-page {
  position: relative;
  margin-left: 332px; 
  padding-left: 310px;
  padding-right:310px;

}

.note-title {
  font-size: 45px;
}

.date {
  font-size: 20;
  text-align: center;
  color: #6A6A6A;
}